$lighter-text: #666;
$default-text: #333;

.card {
  @extend .panel;
  color: $default-text;
  .title {
    font-size: 1.5em;
    .github_icon {
      display: inline-block;
      margin-right: .4em;
      height: 32px;
      width: 32px;
      background-image: url("/images/GitHub-Mark-32px.png");
      background-repeat: no-repeat;
    }
    a {
      font-weight: normal;
      position: relative;
      top: -.3em;
    }
  }
  .metadata {
    @include block-grid(4);
    margin-top: 1em;
    .metadatum {
      .key {
        color: $lighter-text;
      }
    }
  }
}

.project {
  h3 {
    font-size: 1.2em;
    font-weight: bold;
  }
  .readme {
    p {
      color: $lighter-text;
    }
    ul {
      margin-left: 1em;
      li {
        color: $lighter-text;
      }
    }
    pre {
      code {
        display: block;
        margin-bottom: 1em;
      }
    }
  }
}
