%html
  %head
    %title BEAM Toolbox
    %link{rel: "stylesheet", href: "/stylesheets/app.css", charset: "utf-8"}
  %body
    .row
      .large-12.columns
        .panel
          %h1 BEAM Toolbox

    .row
      .large-9.columns.main-content
        = Safe.script(content)

      .large-3.columns.nav-sidebar
        .panel
          Some nav here?
