%html
  %head
    %title BEAM Toolbox
    %link{rel: "stylesheet", href: "/stylesheets/app.css", charset: "utf-8"}
  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a{href: "/pages/home"} BEAM Toolbox
        %li.toggle-topbar.menu-icon
          %a{href: '#'} Menu
      %section.top-bar-section
        %ul.right
        %ul.left
          %li
            %a{href: "/categories"} Categories

    .row
      .large-9.columns.main-content
        = Safe.script(content)

      .large-3.columns.nav-sidebar
        .panel
          = Safe.script(sidebar)
